<!DOCTYPE html>
<html>
<head>
    <!-- ==============================================
    Title and Meta Tags
    =============================================== -->
    <meta charset="UTF-8">
    <title>Nevada - Creative Agency Template</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- ==============================================
    CSS Files
    =============================================== -->
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://use.fontawesome.com/33f079f2f4.js"></script>
    <link type="text/css" rel="stylesheet" href="~/Content/materialize.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/owl.carousel.css">
    <link type="text/css" rel="stylesheet" href="~/Content/owl.theme.css">
    <link type="text/css" rel="stylesheet" href="assets/js/plugins/OwlCarousel/owl-carousel/">
    <link type="text/css" rel="stylesheet" href="~/Content/lightbox.min.css">
    <link type="text/css" rel="stylesheet" href="~/Content/main.css">

</head>

<body>
 
    <header>
        <nav>
            <div class="container">
                <div class="nav-wrapper">
                    <a href="#hero" class="brand-logo page-scroll">Nevada<span>.</span></a>
                    <a href="#" data-activates="mobile-demo" class="button-collapse"><i class="material-icons">menu</i></a>
                    <!-- Side Nav Links -->
                    <ul class="side-nav" id="mobile-demo">
                        <li><a href="#about" class="page-scroll">About</a></li>
                        <li><a href="#skills" class="page-scroll">Skills</a></li>
                        <li><a href="#portfolio" class="page-scroll">Portfolio</a></li>
                        <li><a href="#services" class="page-scroll">Services</a></li>
                        <li><a href="#team" class="page-scroll">Team</a></li>
                        <li><a href="#pricing" class="page-scroll">Price</a></li>
                        <li><a href="#blog" class="page-scroll">Blog</a></li>
                        <li><a href="#contact" class="page-scroll">Contact</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <!-- ==============================================
    Parallax Banner
    =============================================== -->

    <div id="parallax" class="full-screen">
        <div class="hero-caption">
            <div class="hero-text">
                <h2>A Creative</h2>
                <h1>Design Studio</h1>
                <a class="waves-effect waves-light btn-large btn-secondary">Purchase</a>
                <a class="waves-effect waves-light btn-large btn-white">learn More</a>
            </div>
        </div>
    </div>

    <div class="body-content">
        @RenderBody()
        <hr />
        <!-- ==============================================
    Footer
    =============================================== -->
        <footer class="page-footer">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h2 class="white-text">Nevada<span>.</span></h2>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Links</h5>
                        <ul>
                            <li><a class="grey-text text-lighten-3 page-scroll" href="#about">About</a></li>
                            <li><a class="grey-text text-lighten-3 page-scroll" href="#skills">Skills</a></li>
                            <li><a class="grey-text text-lighten-3 page-scroll" href="#portfolio">Portfolio</a></li>
                            <li><a class="grey-text text-lighten-3 page-scroll" href="#blog">Blog</a></li>
                            <li><a class="grey-text text-lighten-3 page-scroll" href="#contact">Contact</a></li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    © 2016 Copyright Text
                    <a class="grey-text text-lighten-4 right" href="#!">Your Company Name.</a>
                </div>
            </div>
        </footer>
    </div>

    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script type="text/javascript" src="~/Scripts/materialize.min.js"></script>
    <!-- jQuery Plugins -->
    <script type="text/javascript" src="~/Scripts/jquery.easing.min.js"></script>
    <script type=text/javascript src="~/Scripts/owl.carousel.min.js"></script>
    <script type="text/javascript" src="~/Scripts/lightbox.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.mixitup.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.inview.min.js"></script>
    <script type="text/javascript" src="~/Scripts/jquery.countTo.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <script type="text/javascript" src="~/Scripts/custom.js"></script>
</body>
</html>
